**/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
*.apt_generated
*.classpath
*.factorypath
*.settings
*.springBeans
*.sts4-cache
*.DS_Store

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
**/nbproject/private/
**/build/
**/out/
**/bin/
**/.gradle/
/nbbuild/
/bin/
/dist/
/nbdist/
/.nb-gradle/
