<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lessspring.org.repository.SnapshotMapper">

    <insert id="doSnapshotLoad">
        CREATE TABLE config_info AS SELECT * FROM CSVREAD(CONCAT(#{path}, 'snapshot_config_info.csv'));
        CREATE TABLE config_info_beta AS SELECT * FROM CSVREAD(CONCAT(#{path}, 'snapshot_config_info_beta.csv'));
        CREATE TABLE user AS SELECT * FROM CSVREAD(CONCAT(#{path}, 'snapshot_user.csv'));
        CREATE TABLE user_role AS SELECT * FROM CSVREAD(CONCAT(#{path}, 'snapshot_user_role.csv'));
        CREATE TABLE namespace AS SELECT * FROM CSVREAD(CONCAT(#{path}, 'snapshot_namespace.csv'));
        CREATE TABLE namespace_permissions AS SELECT * FROM CSVREAD(CONCAT(#{path}, 'snapshot_namespace_permissions.csv'));
    </insert>

    <select id="doSnapshotSave">
        CALL CSVWRITE(CONCAT(#{path}, 'snapshot_config_info.csv'), 'SELECT * FROM config_info');
        CALL CSVWRITE(CONCAT(#{path}, 'snapshot_config_info_beta.csv'), 'SELECT * FROM config_info_beta');
        CALL CSVWRITE(CONCAT(#{path}, 'snapshot_user.csv'), 'SELECT * FROM user');
        CALL CSVWRITE(CONCAT(#{path}, 'snapshot_user_role.csv'), 'SELECT * FROM user_role');
        CALL CSVWRITE(CONCAT(#{path}, 'snapshot_namespace.csv'), 'SELECT * FROM namespace');
        CALL CSVWRITE(CONCAT(#{path}, 'snapshot_namespace_permissions.csv'), 'SELECT * FROM namespace_permissions');
    </select>

</mapper>