<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lessspring.org.repository.NamespaceMapper">

    <resultMap id="NamespaceDTO" type="com.lessspring.org.db.dto.NamespaceDTO">
        <id column="id" property="id"/>
        <result column="namespace_name" property="namespace"/>
        <result column="namespace_id" property="namespaceId"/>
        <result column="auth_token" property="authToken"/>
    </resultMap>

    <!--  save namespace  -->
    <insert id="saveNamespace" keyColumn="id"
            parameterType="com.lessspring.org.db.dto.NamespaceDTO">
        INSERT INTO namespace(namespace_name, namespace_id) VALUE (#{dto.namespace},
        #{dto.namespaceId});
    </insert>

    <!--  save access namespace token  -->
    <update id="saveNamespaceAuthToken">
        UPDATE namespace SET auth_token = #{token} WHERE namespace_name = #{name}
    </update>

    <!--  clean namespace  -->
    <delete id="removeNamespace">
        DELETE
        FROM namespace
        WHERE namespace_name = #{namespace}
    </delete>

    <!--  query all namespaces  -->
    <select id="queryAll" resultMap="NamespaceDTO">
        SELECT *
        FROM namespace;
    </select>

    <!--  query single namespace by name  -->
    <select id="findNamespaceByName" resultType="java.lang.String">
        SELECT namespace_name
        FROM namespace
        WHERE namespace_name = #{name}
    </select>

    <!--  query namespaceDto by namespace-id  -->
    <select id="findNamespaceDTOByName"
            resultMap="NamespaceDTO">
        SELECT *
        FROM namespace
        WHERE namespace_name = #{name};
    </select>
</mapper>