<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lessspring.org.server.repository.UserMapper">

    <resultMap type="com.lessspring.org.db.dto.UserDTO" id="UserDTO">
        <id column="id" property="id"/>
        <result column="user_name" property="username"/>
        <result column="password" property="password"/>
        <result column="role_type" property="roleType"/>
    </resultMap>

    <!--  save user  -->
    <insert id="saveUser">
        INSERT INTO user(id, user_name, password, role_type)
        VALUES (#{dto.id}, #{dto.username}, #{dto.password}, #{dto.roleType})
    </insert>

    <!--  modify user info  -->
    <update id="modifyUser">
        UPDATE user
        SET user_name = #{dto.username},
            password  = #{dto.password},
            role_type = #{dto.roleType}
    </update>

    <!--  rmove user  -->
    <delete id="removeUser">
        DELETE
        FROM user
        WHERE user_name = #{username}
    </delete>

    <select id="findUserByName" resultMap="UserDTO">
        select *
        from user
        where user_name = #{username}
    </select>

    <select id="queryAll" resultMap="UserDTO">
        select *
        from user
        <if test="page.username != null and page.username != ''">
            where user_name like #{page.username}
        </if>
        limit #{page.limit}
        offset
        #{page.offset}
    </select>

    <select id="count" resultType="java.lang.Integer">
        select count(1) from user
        <if test="name != null and name != ''">
            where user_name like #{name}
        </if>
    </select>

</mapper>